:root {
   --goodboyyellow: #ffd900;
}

body {
   margin: 0 1.5%;
   font-family: sans-serif;
   line-height: 1.4em;
   width: 95vw;
   height: 100vh;
   background-color: var(--goodboyyellow);
   color: white;
   font-family: 'Work Sans', system-ui, sans-serif;
}

/* Header */

.timecontainer {
   width: 50%;
   height: 5%;
}

#time {
   position: absolute;
   width: 50%;
   padding: 20px 0px;
   font-size: 18pt;
}

/* Center Object */
.center {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.center img {
   width: 500px;
   height: 500px;
}

/* Footer Links */

.footer {
   position: absolute;
   display: flex;
   width: 95%;
   font-size: 24pt;
   bottom: 1%;
}

.footerlinks {
   list-style: none;
   padding: 0%;
   margin: 2% 0%;
   flex: 1;
   width: 75%;
   line-height: 1.25;
}

.footerlinks li {
   width: fit-content;
   font-style: italic;
   font-size: 22pt;
   cursor: pointer;
}

.footerlinks li:hover {
   width: inherit;
   font-style: normal;
   text-decoration: underline;
}

.social {
   margin-top: 10px;
}

svg {
   fill: white;
}

svg:hover {
   fill: black;
}



/* Side Bars */
.sidebar {
   position: absolute;
   width: 45px;
   height: inherit;
   right: 0%;
   top: 0%;
   display: inline-block;
   transition: width .5s;
   border-left: 2px solid white;
   text-align: center;
   overflow: hidden;
   z-index: 1;
}

#projectsbar {
   right: 0%;
}

#infobar {
   right: 3%;
}

#barlabel {
   position: absolute;
   top: 45%;
   writing-mode: vertical-rl;
   z-index: 1;
   left: 8px;
   transform: rotate(deg);
   cursor: pointer;
   font-size: 14pt;
}

#barlabel:hover {
   text-decoration: underline;
   color: black;
}

.closebtn {
   position: absolute;
   top: 1%;
   right: 13px;
   font-size: 36px;
   margin-left: 50px;
   display: none;
   cursor: pointer;
}

.closebtn:hover {
   color: black;
}

/* Projects */

.projectsgrid {
   padding: 20px 50px 20px 60px;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   gap: 90px;
   grid-auto-rows: minmax(100px, auto);
}

#title {
   margin-bottom: 20px;
   font-size: 25pt;
   font-style: italic;
}

.projectsimage {
   position: relative;
   width: 100%;
}

#projectsimage {
   width: 50%;
   transition: filter .1s;
}

#projectsinfo {
   position: absolute;
   padding: 20% 15%;
   top: 0%;
   height: 100%;
   visibility: hidden;
   font-size: 32pt;
   line-height: normal;
}

#projectsinfo mark {
   background-color: var(--goodboyyellow);
   color: white;
}

.projectsimage:hover #projectsinfo {
   visibility: visible;
   transition: visibility .2s;
}

.projectsimage:hover #projectsimage {
   filter: blur(5px);
}

/* Mobile, baby! */
@media only screen and (max-width: 600px) {
   .center img {
      max-width: 250px;
      height: auto;
   }
}

@media only screen and (max-width: 400px) {
   .sidebar {
      display: none;
   }
}