@font-face {
   font-family: Playground;
   src: url(../PPPlayground-Regular.ttf);
}

@font-face {
   font-family: Neue Montreal;
   src: url(../PPNeueMontrealMono-Regular.woff);
}

@font-face {
   font-family: Berkeley Mono;
   src: url(../TX-02-Trial-Regular.otf);
}

body {
   margin: 0 1.5%;
   line-height: 1.4em;
   background-color: white;
   color: black;
   font-family: 'Berkeley Mono', system-ui, sans-serif;
   font-size: 10pt;
   align-items: center;
   text-align: center;
   filter: url("#distort");
   -webkit-filter: url("#distort");
}

a {
   text-decoration: underline;
   color: black;
}

a:hover {
   font-style: italic;
}

a:visited {
   text-decoration-line: line-through red;
}

/* Header */

.title {
   text-align: center;
}

.subtitle {
   font-style: italic;
}

.timecontainer {
   height: 5%;
   margin-top: 15px;
}

.weathercontainer {
   margin-top: 10px;
}

#time,
#temperature,
#description {
   position: relative;
   width: 50%;
   margin: 20px 0px;
}

#officehours {
   text-decoration: underline;
   font-style: italic;

   animation: blink 2.5s steps(1, end) infinite;
}

@keyframes blink {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

.intro {
   text-align: center;
}

/* Center Object */
table {
   width: 100%;
   margin: 25px auto;
   border-spacing: 0;
   border-collapse: collapse;
}

th,
td {
   border: 1px solid black;
   padding: 10px;
   text-align: center;
}

th {
   font-weight: bold;
}


.center {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: -99;
}

.center img {
   width: 500px;
   height: 500px;
   opacity: 10%;
}

/* Footer Links */

.footer {
   position: relative;
   bottom: 5%;
}

button {
   cursor: pointer;
 }


/* Blog */